.blue-bg {
  background-color: blue;
  height: 30rem;
  padding: 1rem;
}

.title {
  font-size: 40px !important;
}

.blue-bg .navbar-brand,
.blue-bg .nav-link {
  color: white;
  font-size: 30px;
}

.nav-end {
  display: flex;
  justify-content: flex-end;
}

.vertical-nav {
  flex-direction: column;
}
